<<<<<<< HEAD
ion-menu-button {
  color: #5200FF;
}

.i-phone-14-15-pro-max-1,
.i-phone-14-15-pro-max-1 * {
  box-sizing: border-box;
}
.i-phone-14-15-pro-max-1 {
  background: linear-gradient(
    180deg,
    rgba(82, 0, 255, 1) 41.14583432674408%,
    rgba(104, 40, 241, 1) 53.4095823764801%,
    rgba(107, 45, 241, 1) 56.25%,
    rgba(107, 45, 241, 1) 79.11633849143982%
  );
  width: 26.875rem;
  height: 58.25rem;
  position: relative;
  overflow: hidden;
}
.fondo {
  width: 17.1875rem;
  height: 3.875rem;
  position: absolute;
  left: 8.625rem;
  top: 34.8125rem;
}
.ala-ia {
  color: #ffffff;
  text-align: left;
  font: 700 3.125rem "Georama-Bold", sans-serif;
  position: absolute;
  left: 0rem;
  top: 0rem;
  width: 17.1875rem;
  height: 3.875rem;
}
.bienvenido-a-tu-espacio-seguro {
  color: #ffffff;
  text-align: left;
  font: 700 1.25rem "Georama-Bold", sans-serif;
  position: absolute;
  left: -4.8125rem;
  top: 12rem;
  width: 19.125rem;
  height: 1.125rem;
}
.rectangle-1 {
  width: 26.875rem;
  height: 14.625rem;
  position: absolute;
  left: -7.4375rem;
  top: -52.78125rem;
  overflow: visible;
}
.ellipse-1 {
  background: #fcfee2;
  border-radius: 50%;
  border-style: solid;
  border-color: #dadada;
  border-width: 0.625rem;
  width: 18.8125rem;
  height: 18.8125rem;
  position: absolute;
  left: -4.5625rem;
  top: -22.625rem;
}
.una-mujer-hecha-con-figuras-simples-solo-se-debe-1-1 {
  width: 18.125rem;
  height: 18.125rem;
  position: absolute;
  left: 4.4375rem;
  top: 13.4375rem;
  overflow: hidden;
}
.vector {
  height: auto;
  position: absolute;
  right: 57.16%;
  left: 42.21%;
  width: 0.63%;
  bottom: 57.57%;
  top: 39.48%;
  height: 2.95%;
  overflow: visible;
}
.vector2 {
  height: auto;
  position: absolute;
  right: 57.96%;
  left: 40.05%;
  width: 2%;
  bottom: 51.25%;
  top: 47.98%;
  height: 0.77%;
  overflow: visible;
}
.vector3 {
  height: auto;
  position: absolute;
  right: 56.89%;
  left: 41.8%;
  width: 1.31%;
  bottom: 53.62%;
  top: 43.87%;
  height: 2.51%;
  overflow: visible;
}
.vector4 {
  height: auto;
  position: absolute;
  right: 46.52%;
  left: 52.61%;
  width: 0.87%;
  bottom: 59.53%;
  top: 37.54%;
  height: 2.93%;
  overflow: visible;
}
.vector5 {
  height: auto;
  position: absolute;
  right: 45.83%;
  left: 52.67%;
  width: 1.5%;
  bottom: 57.21%;
  top: 40.23%;
  height: 2.56%;
  overflow: visible;
}
.vector6 {
  height: auto;
  position: absolute;
  right: 46.41%;
  left: 52.72%;
  width: 0.87%;
  bottom: 58.93%;
  top: 40.23%;
  height: 0.84%;
  overflow: visible;
}
.vector7 {
  height: auto;
  position: absolute;
  right: 52.19%;
  left: 46.97%;
  width: 0.84%;
  bottom: 53.43%;
  top: 43.56%;
  height: 3.01%;
  overflow: visible;
}
.vector8 {
  height: auto;
  position: absolute;
  right: 51.89%;
  left: 45.37%;
  width: 2.74%;
  bottom: 58.18%;
  top: 39.72%;
  height: 2.1%;
  overflow: visible;
}
.vector9 {
  height: auto;
  position: absolute;
  right: 47.2%;
  left: 50.22%;
  width: 2.58%;
  bottom: 57.26%;
  top: 40.39%;
  height: 2.35%;
  overflow: visible;
}
.vector10 {
  height: auto;
  position: absolute;
  right: 48.85%;
  left: 46.25%;
  width: 4.9%;
  bottom: 55.86%;
  top: 43.06%;
  height: 1.08%;
  overflow: visible;
}
.vector11 {
  height: auto;
  position: absolute;
  right: 48.46%;
  left: 50.03%;
  width: 1.51%;
  bottom: 59.47%;
  top: 36.92%;
  height: 3.62%;
  overflow: visible;
}
.vector12 {
  height: auto;
  position: absolute;
  right: 55.17%;
  left: 41.12%;
  width: 3.71%;
  bottom: 47.85%;
  top: 50.43%;
  height: 1.72%;
  overflow: visible;
}
.vector13 {
  height: auto;
  position: absolute;
  right: 52.04%;
  left: 45.72%;
  width: 2.25%;
  bottom: 60%;
  top: 36.74%;
  height: 3.25%;
  overflow: visible;
}
.vector14 {
  height: auto;
  position: absolute;
  right: 75.38%;
  left: 20.75%;
  width: 3.87%;
  bottom: 26.9%;
  top: 70.67%;
  height: 2.43%;
  overflow: visible;
}
.vector15 {
  height: auto;
  position: absolute;
  right: 43.59%;
  left: 50.59%;
  width: 5.82%;
  bottom: 47.5%;
  top: 46.66%;
  height: 5.84%;
  overflow: visible;
}
.vector16 {
  height: auto;
  position: absolute;
  right: 36.02%;
  left: 60.35%;
  width: 3.63%;
  bottom: 51.96%;
  top: 42.95%;
  height: 5.09%;
  overflow: visible;
}
.vector17 {
  height: auto;
  position: absolute;
  right: 21.23%;
  left: 72.41%;
  width: 6.36%;
  bottom: 51.38%;
  top: 40.93%;
  height: 7.69%;
  overflow: visible;
}
.vector18 {
  height: auto;
  position: absolute;
  right: 38.49%;
  left: 52.44%;
  width: 9.07%;
  bottom: 43.11%;
  top: 49.32%;
  height: 7.57%;
  overflow: visible;
}
.vector19 {
  height: auto;
  position: absolute;
  right: 14.99%;
  left: 78.5%;
  width: 6.51%;
  bottom: 14.76%;
  top: 76.53%;
  height: 8.7%;
  overflow: visible;
}
.vector20 {
  height: auto;
  position: absolute;
  right: 60.9%;
  left: 27.99%;
  width: 11.11%;
  bottom: 25.51%;
  top: 59.76%;
  height: 14.73%;
  overflow: visible;
}
.vector21 {
  height: auto;
  position: absolute;
  right: 37.2%;
  left: 50.43%;
  width: 12.37%;
  bottom: 34.91%;
  top: 55.57%;
  height: 9.52%;
  overflow: visible;
}
.vector22 {
  height: auto;
  position: absolute;
  right: 37.2%;
  left: 52.71%;
  width: 10.09%;
  bottom: 34.91%;
  top: 59.72%;
  height: 5.37%;
  overflow: visible;
}
.vector23 {
  height: auto;
  position: absolute;
  right: 24.42%;
  left: 36.21%;
  width: 39.38%;
  bottom: 55.4%;
  top: 23.7%;
  height: 20.89%;
  overflow: visible;
}
.vector24 {
  height: auto;
  position: absolute;
  right: 43.53%;
  left: 16.83%;
  width: 39.65%;
  bottom: 32.19%;
  top: 4.24%;
  height: 63.57%;
  overflow: visible;
}
.vector25 {
  height: auto;
  position: absolute;
  right: 59.61%;
  left: 39.38%;
  width: 1.01%;
  bottom: 87.59%;
  top: 11.34%;
  height: 1.07%;
  overflow: visible;
}
.vector26 {
  height: auto;
  position: absolute;
  right: 74.25%;
  left: 23.24%;
  width: 2.52%;
  bottom: 58.51%;
  top: 39.38%;
  height: 2.11%;
  overflow: visible;
}
.vector27 {
  height: auto;
  position: absolute;
  right: 58.6%;
  left: 37.73%;
  width: 3.67%;
  bottom: 81.75%;
  top: 15.79%;
  height: 2.46%;
  overflow: visible;
}
.vector28 {
  height: auto;
  position: absolute;
  right: 47.44%;
  left: 50.51%;
  width: 2.05%;
  bottom: 35.16%;
  top: 61.59%;
  height: 3.25%;
  overflow: visible;
}
.vector29 {
  height: auto;
  position: absolute;
  right: 73.01%;
  left: 23.72%;
  width: 3.27%;
  bottom: 69.12%;
  top: 26.56%;
  height: 4.32%;
  overflow: visible;
}
.vector30 {
  height: auto;
  position: absolute;
  right: 59.76%;
  left: 28.26%;
  width: 11.97%;
  bottom: 38.72%;
  top: 49.65%;
  height: 11.63%;
  overflow: visible;
}
.vector31 {
  height: auto;
  position: absolute;
  right: 65.13%;
  left: 33.3%;
  width: 1.57%;
  bottom: 41.1%;
  top: 56.99%;
  height: 1.91%;
  overflow: visible;
}
.vector32 {
  height: auto;
  position: absolute;
  right: 60.43%;
  left: 37.79%;
  width: 1.78%;
  bottom: 40.09%;
  top: 58.09%;
  height: 1.82%;
  overflow: visible;
}
.vector33 {
  height: auto;
  position: absolute;
  right: 63.75%;
  left: 31.94%;
  width: 4.31%;
  bottom: 45.56%;
  top: 50.21%;
  height: 4.23%;
  overflow: visible;
}
.vector34 {
  height: auto;
  position: absolute;
  right: 51.47%;
  left: 33.37%;
  width: 15.16%;
  bottom: 61.41%;
  top: 26.08%;
  height: 12.51%;
  overflow: visible;
}
.vector35 {
  height: auto;
  position: absolute;
  right: 20.83%;
  left: 8.85%;
  width: 70.31%;
  bottom: 5.47%;
  top: 60.1%;
  height: 34.43%;
  overflow: visible;
}
.vector36 {
  height: auto;
  position: absolute;
  right: 50.03%;
  left: 48.82%;
  width: 1.15%;
  bottom: 26.49%;
  top: 71.58%;
  height: 1.93%;
  overflow: visible;
}
.vector37 {
  height: auto;
  position: absolute;
  right: 73.27%;
  left: 23.46%;
  width: 3.27%;
  bottom: 22.02%;
  top: 75.02%;
  height: 2.96%;
  overflow: visible;
}
.vector38 {
  height: auto;
  position: absolute;
  right: 43.26%;
  left: 50.82%;
  width: 5.91%;
  bottom: 28.6%;
  top: 66.8%;
  height: 4.6%;
  overflow: visible;
}
.vector39 {
  height: auto;
  position: absolute;
  right: 57.09%;
  left: 34.78%;
  width: 8.13%;
  bottom: 18.69%;
  top: 77.32%;
  height: 3.99%;
  overflow: visible;
}
.vector40 {
  height: auto;
  position: absolute;
  right: 35.45%;
  left: 56.19%;
  width: 8.35%;
  bottom: 30.43%;
  top: 63.91%;
  height: 5.66%;
  overflow: visible;
}
.vector41 {
  height: auto;
  position: absolute;
  right: 36.46%;
  left: 49.69%;
  width: 13.86%;
  bottom: 28.86%;
  top: 60.1%;
  height: 11.04%;
  overflow: visible;
}
.vector42 {
  height: auto;
  position: absolute;
  right: 26.22%;
  left: 58.43%;
  width: 15.35%;
  bottom: 6.25%;
  top: 71.82%;
  height: 21.93%;
  overflow: visible;
}
.frame-1 {
  position: absolute;
  right: 18.62%;
  left: 46.9%;
  width: 34.48%;
  bottom: 30.34%;
  top: 35.17%;
  height: 34.48%;
  overflow: hidden;
}
.boton {
  width: 13.25rem;
  height: 4.3125rem;
  position: absolute;
  left: 8.0625rem;
  top: 41.4375rem;
  cursor: pointer;
  transition: transform 0.3s ease; /* Agrega una transición para suavizar el efecto */
  transform-origin: center;
}
.rectangle-2 {
  background: rgba(255, 255, 255, 0.87);
  border-radius: 0.3125rem;
  border-style: solid;
  border-color: #868686;
  border-width: 0rem 0rem 0.25rem 0rem;
  width: 14.5rem;
  height: 4rem;
  position: absolute;
  left: -2rem;
  top: -0.6875rem;
}
.empecemos {
  color: #6f6f6f;
  text-align: left;
  font: 700 1.875rem "Georama-Bold", sans-serif;
  position: absolute;
  left: 0rem;
  top: 0rem;
  width: 13.25rem;
  height: 4.3125rem;
}



.boton:hover {
  transform: scale(3); /* Agranda el botón al pasar el ratón sobre él */
}

=======
ion-menu-button {
  color: #5200FF;
}

.i-phone-14-15-pro-max-1,
.i-phone-14-15-pro-max-1 * {
  box-sizing: border-box;
}
.i-phone-14-15-pro-max-1 {
  background: linear-gradient(
    180deg,
    rgba(82, 0, 255, 1) 41.14583432674408%,
    rgba(104, 40, 241, 1) 53.4095823764801%,
    rgba(107, 45, 241, 1) 56.25%,
    rgba(107, 45, 241, 1) 79.11633849143982%
  );
  width: 26.875rem;
  height: 58.25rem;
  position: relative;
  overflow: hidden;
}
.fondo {
  width: 17.1875rem;
  height: 3.875rem;
  position: absolute;
  left: 8.625rem;
  top: 34.8125rem;
}
.ala-ia {
  color: #ffffff;
  text-align: left;
  font: 700 3.125rem "Georama-Bold", sans-serif;
  position: absolute;
  left: 0rem;
  top: 0rem;
  width: 17.1875rem;
  height: 3.875rem;
}
.bienvenido-a-tu-espacio-seguro {
  color: #ffffff;
  text-align: left;
  font: 700 1.25rem "Georama-Bold", sans-serif;
  position: absolute;
  left: -4.8125rem;
  top: 12rem;
  width: 19.125rem;
  height: 1.125rem;
}
.rectangle-1 {
  width: 26.875rem;
  height: 14.625rem;
  position: absolute;
  left: -7.4375rem;
  top: -52.78125rem;
  overflow: visible;
}
.ellipse-1 {
  background: #fcfee2;
  border-radius: 50%;
  border-style: solid;
  border-color: #dadada;
  border-width: 0.625rem;
  width: 18.8125rem;
  height: 18.8125rem;
  position: absolute;
  left: -4.5625rem;
  top: -22.625rem;
}
.una-mujer-hecha-con-figuras-simples-solo-se-debe-1-1 {
  width: 18.125rem;
  height: 18.125rem;
  position: absolute;
  left: 4.4375rem;
  top: 13.4375rem;
  overflow: hidden;
}
.vector {
  height: auto;
  position: absolute;
  right: 57.16%;
  left: 42.21%;
  width: 0.63%;
  bottom: 57.57%;
  top: 39.48%;
  height: 2.95%;
  overflow: visible;
}
.vector2 {
  height: auto;
  position: absolute;
  right: 57.96%;
  left: 40.05%;
  width: 2%;
  bottom: 51.25%;
  top: 47.98%;
  height: 0.77%;
  overflow: visible;
}
.vector3 {
  height: auto;
  position: absolute;
  right: 56.89%;
  left: 41.8%;
  width: 1.31%;
  bottom: 53.62%;
  top: 43.87%;
  height: 2.51%;
  overflow: visible;
}
.vector4 {
  height: auto;
  position: absolute;
  right: 46.52%;
  left: 52.61%;
  width: 0.87%;
  bottom: 59.53%;
  top: 37.54%;
  height: 2.93%;
  overflow: visible;
}
.vector5 {
  height: auto;
  position: absolute;
  right: 45.83%;
  left: 52.67%;
  width: 1.5%;
  bottom: 57.21%;
  top: 40.23%;
  height: 2.56%;
  overflow: visible;
}
.vector6 {
  height: auto;
  position: absolute;
  right: 46.41%;
  left: 52.72%;
  width: 0.87%;
  bottom: 58.93%;
  top: 40.23%;
  height: 0.84%;
  overflow: visible;
}
.vector7 {
  height: auto;
  position: absolute;
  right: 52.19%;
  left: 46.97%;
  width: 0.84%;
  bottom: 53.43%;
  top: 43.56%;
  height: 3.01%;
  overflow: visible;
}
.vector8 {
  height: auto;
  position: absolute;
  right: 51.89%;
  left: 45.37%;
  width: 2.74%;
  bottom: 58.18%;
  top: 39.72%;
  height: 2.1%;
  overflow: visible;
}
.vector9 {
  height: auto;
  position: absolute;
  right: 47.2%;
  left: 50.22%;
  width: 2.58%;
  bottom: 57.26%;
  top: 40.39%;
  height: 2.35%;
  overflow: visible;
}
.vector10 {
  height: auto;
  position: absolute;
  right: 48.85%;
  left: 46.25%;
  width: 4.9%;
  bottom: 55.86%;
  top: 43.06%;
  height: 1.08%;
  overflow: visible;
}
.vector11 {
  height: auto;
  position: absolute;
  right: 48.46%;
  left: 50.03%;
  width: 1.51%;
  bottom: 59.47%;
  top: 36.92%;
  height: 3.62%;
  overflow: visible;
}
.vector12 {
  height: auto;
  position: absolute;
  right: 55.17%;
  left: 41.12%;
  width: 3.71%;
  bottom: 47.85%;
  top: 50.43%;
  height: 1.72%;
  overflow: visible;
}
.vector13 {
  height: auto;
  position: absolute;
  right: 52.04%;
  left: 45.72%;
  width: 2.25%;
  bottom: 60%;
  top: 36.74%;
  height: 3.25%;
  overflow: visible;
}
.vector14 {
  height: auto;
  position: absolute;
  right: 75.38%;
  left: 20.75%;
  width: 3.87%;
  bottom: 26.9%;
  top: 70.67%;
  height: 2.43%;
  overflow: visible;
}
.vector15 {
  height: auto;
  position: absolute;
  right: 43.59%;
  left: 50.59%;
  width: 5.82%;
  bottom: 47.5%;
  top: 46.66%;
  height: 5.84%;
  overflow: visible;
}
.vector16 {
  height: auto;
  position: absolute;
  right: 36.02%;
  left: 60.35%;
  width: 3.63%;
  bottom: 51.96%;
  top: 42.95%;
  height: 5.09%;
  overflow: visible;
}
.vector17 {
  height: auto;
  position: absolute;
  right: 21.23%;
  left: 72.41%;
  width: 6.36%;
  bottom: 51.38%;
  top: 40.93%;
  height: 7.69%;
  overflow: visible;
}
.vector18 {
  height: auto;
  position: absolute;
  right: 38.49%;
  left: 52.44%;
  width: 9.07%;
  bottom: 43.11%;
  top: 49.32%;
  height: 7.57%;
  overflow: visible;
}
.vector19 {
  height: auto;
  position: absolute;
  right: 14.99%;
  left: 78.5%;
  width: 6.51%;
  bottom: 14.76%;
  top: 76.53%;
  height: 8.7%;
  overflow: visible;
}
.vector20 {
  height: auto;
  position: absolute;
  right: 60.9%;
  left: 27.99%;
  width: 11.11%;
  bottom: 25.51%;
  top: 59.76%;
  height: 14.73%;
  overflow: visible;
}
.vector21 {
  height: auto;
  position: absolute;
  right: 37.2%;
  left: 50.43%;
  width: 12.37%;
  bottom: 34.91%;
  top: 55.57%;
  height: 9.52%;
  overflow: visible;
}
.vector22 {
  height: auto;
  position: absolute;
  right: 37.2%;
  left: 52.71%;
  width: 10.09%;
  bottom: 34.91%;
  top: 59.72%;
  height: 5.37%;
  overflow: visible;
}
.vector23 {
  height: auto;
  position: absolute;
  right: 24.42%;
  left: 36.21%;
  width: 39.38%;
  bottom: 55.4%;
  top: 23.7%;
  height: 20.89%;
  overflow: visible;
}
.vector24 {
  height: auto;
  position: absolute;
  right: 43.53%;
  left: 16.83%;
  width: 39.65%;
  bottom: 32.19%;
  top: 4.24%;
  height: 63.57%;
  overflow: visible;
}
.vector25 {
  height: auto;
  position: absolute;
  right: 59.61%;
  left: 39.38%;
  width: 1.01%;
  bottom: 87.59%;
  top: 11.34%;
  height: 1.07%;
  overflow: visible;
}
.vector26 {
  height: auto;
  position: absolute;
  right: 74.25%;
  left: 23.24%;
  width: 2.52%;
  bottom: 58.51%;
  top: 39.38%;
  height: 2.11%;
  overflow: visible;
}
.vector27 {
  height: auto;
  position: absolute;
  right: 58.6%;
  left: 37.73%;
  width: 3.67%;
  bottom: 81.75%;
  top: 15.79%;
  height: 2.46%;
  overflow: visible;
}
.vector28 {
  height: auto;
  position: absolute;
  right: 47.44%;
  left: 50.51%;
  width: 2.05%;
  bottom: 35.16%;
  top: 61.59%;
  height: 3.25%;
  overflow: visible;
}
.vector29 {
  height: auto;
  position: absolute;
  right: 73.01%;
  left: 23.72%;
  width: 3.27%;
  bottom: 69.12%;
  top: 26.56%;
  height: 4.32%;
  overflow: visible;
}
.vector30 {
  height: auto;
  position: absolute;
  right: 59.76%;
  left: 28.26%;
  width: 11.97%;
  bottom: 38.72%;
  top: 49.65%;
  height: 11.63%;
  overflow: visible;
}
.vector31 {
  height: auto;
  position: absolute;
  right: 65.13%;
  left: 33.3%;
  width: 1.57%;
  bottom: 41.1%;
  top: 56.99%;
  height: 1.91%;
  overflow: visible;
}
.vector32 {
  height: auto;
  position: absolute;
  right: 60.43%;
  left: 37.79%;
  width: 1.78%;
  bottom: 40.09%;
  top: 58.09%;
  height: 1.82%;
  overflow: visible;
}
.vector33 {
  height: auto;
  position: absolute;
  right: 63.75%;
  left: 31.94%;
  width: 4.31%;
  bottom: 45.56%;
  top: 50.21%;
  height: 4.23%;
  overflow: visible;
}
.vector34 {
  height: auto;
  position: absolute;
  right: 51.47%;
  left: 33.37%;
  width: 15.16%;
  bottom: 61.41%;
  top: 26.08%;
  height: 12.51%;
  overflow: visible;
}
.vector35 {
  height: auto;
  position: absolute;
  right: 20.83%;
  left: 8.85%;
  width: 70.31%;
  bottom: 5.47%;
  top: 60.1%;
  height: 34.43%;
  overflow: visible;
}
.vector36 {
  height: auto;
  position: absolute;
  right: 50.03%;
  left: 48.82%;
  width: 1.15%;
  bottom: 26.49%;
  top: 71.58%;
  height: 1.93%;
  overflow: visible;
}
.vector37 {
  height: auto;
  position: absolute;
  right: 73.27%;
  left: 23.46%;
  width: 3.27%;
  bottom: 22.02%;
  top: 75.02%;
  height: 2.96%;
  overflow: visible;
}
.vector38 {
  height: auto;
  position: absolute;
  right: 43.26%;
  left: 50.82%;
  width: 5.91%;
  bottom: 28.6%;
  top: 66.8%;
  height: 4.6%;
  overflow: visible;
}
.vector39 {
  height: auto;
  position: absolute;
  right: 57.09%;
  left: 34.78%;
  width: 8.13%;
  bottom: 18.69%;
  top: 77.32%;
  height: 3.99%;
  overflow: visible;
}
.vector40 {
  height: auto;
  position: absolute;
  right: 35.45%;
  left: 56.19%;
  width: 8.35%;
  bottom: 30.43%;
  top: 63.91%;
  height: 5.66%;
  overflow: visible;
}
.vector41 {
  height: auto;
  position: absolute;
  right: 36.46%;
  left: 49.69%;
  width: 13.86%;
  bottom: 28.86%;
  top: 60.1%;
  height: 11.04%;
  overflow: visible;
}
.vector42 {
  height: auto;
  position: absolute;
  right: 26.22%;
  left: 58.43%;
  width: 15.35%;
  bottom: 6.25%;
  top: 71.82%;
  height: 21.93%;
  overflow: visible;
}
.frame-1 {
  position: absolute;
  right: 18.62%;
  left: 46.9%;
  width: 34.48%;
  bottom: 30.34%;
  top: 35.17%;
  height: 34.48%;
  overflow: hidden;
}
.boton {
  width: 13.25rem;
  height: 4.3125rem;
  position: absolute;
  left: 8.0625rem;
  top: 41.4375rem;
  cursor: pointer;
  transition: transform 0.3s ease; /* Agrega una transición para suavizar el efecto */
  transform-origin: center;
}
.rectangle-2 {
  background: rgba(255, 255, 255, 0.87);
  border-radius: 0.3125rem;
  border-style: solid;
  border-color: #868686;
  border-width: 0rem 0rem 0.25rem 0rem;
  width: 14.5rem;
  height: 4rem;
  position: absolute;
  left: -2rem;
  top: -0.6875rem;
}
.empecemos {
  color: #6f6f6f;
  text-align: left;
  font: 700 1.875rem "Georama-Bold", sans-serif;
  position: absolute;
  left: 0rem;
  top: 0rem;
  width: 13.25rem;
  height: 4.3125rem;
}



.boton:hover {
  transform: scale(3); /* Agranda el botón al pasar el ratón sobre él */
}

>>>>>>> dc4109ee4b0a307b7732b3a1943c49d9b4895be2
