.i-phone-14-15-pro-max-2,
.i-phone-14-15-pro-max-2 * {
  box-sizing: border-box;
}
.i-phone-14-15-pro-max-2 {
  background: linear-gradient(
    180deg,
    rgba(82, 0, 255, 1) 82.55952596664429%,
    rgba(102, 36, 243, 1) 100%
  );
  width: 26.875rem;
  height: 58.25rem;
  position: relative;
  overflow: hidden;
}
.contorno-de-una-casa-1 {
  width: 3.1875rem;
  height: 2.75rem;
  position: absolute;
  left: 20.4375rem;
  top: 3.875rem;
  overflow: visible;
}
.inicio-de-sesion {
  width: 23.4375rem;
  height: 14.4375rem;
  position: absolute;
  left: 3.4375rem;
  top: 20.0625rem;
}
.rectangle-3 {
  background: #ffffff;
  border-radius: 1.25rem;
  width: 23.5625rem;
  height: 54.0625rem;
  position: absolute;
  left: -1.6875rem;
  top: -18.1875rem;
}
.rectangle-4 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 0rem 0rem 0.0625rem 0rem;
  width: 20rem;
  height: 2.6875rem;
  position: absolute;
  left: 0rem;
  top: 5.4375rem;
}
.rectangle-5 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 0rem 0rem 0.0625rem 0rem;
  width: 20rem;
  height: 2.6875rem;
  position: absolute;
  left: 0.1875rem;
  top: 11.75rem;
}
.usuario {
  color: #b3b3b3;
  text-align: left;
  font: 700 1.25rem "Georama-Bold", sans-serif;
  position: absolute;
  left: 0.875rem;
  top: 6.25rem;
  width: 19.125rem;
  height: 1.125rem;
}
.contrase-a {
  color: #b3b3b3;
  text-align: left;
  font: 700 1.25rem "Georama-Bold", sans-serif;
  position: absolute;
  left: 0.875rem;
  top: 12.5625rem;
  width: 19.125rem;
  height: 1.125rem;
}
.iniciar-sesion {
  color: #5e5e5e;
  text-align: left;
  font: 700 1.875rem "Georama-Bold", sans-serif;
  position: absolute;
  left: 4.4375rem;
  top: 0rem;
  width: 19rem;
  height: 1.125rem;
}
.boton {
  width: 23.5625rem;
  height: 54.0625rem;
  position: absolute;
  left: 1.75rem;
  top: 1.875rem;
}
.empezar {
  color: #000000;
  text-align: center;
  font: 700 1.875rem "Georama-Bold", sans-serif;
  position: absolute;
  left: 5.5rem;
  top: 38.625rem;
  width: 13.25rem;
  height: 5.0625rem;
}
.rectangle-2 {
  border-radius: 0rem;
  width: 14.5rem;
  height: 4rem;
  position: absolute;
  left: 4.875rem;
  top: 37.8125rem;
  overflow: visible;
}
.una-dama-joven-con-cabello-blanco-y-un-sombrero-de-1 {
  width: 14.125rem;
  height: 14rem;
  position: absolute;
  left: 5.25rem;
  top: 3.75rem;
  overflow: visible;
}
