<<<<<<< HEAD
.i-phone-14-15-pro-max-3,
.i-phone-14-15-pro-max-3 * {
  box-sizing: border-box;
}
.i-phone-14-15-pro-max-3 {
  background: linear-gradient(
    180deg,
    rgba(87, 6, 254, 1) 0%,
    rgba(126, 59, 245, 1) 100%
  );
  width: 26.875rem;
  height: 58.25rem;
  position: relative;
  overflow: hidden;
}
.rectangle-4 {
  background: #ffffff;
  border-radius: 1.25rem;
  border-style: solid;
  border-color: #4400cf;
  border-width: 0rem 0rem 0.3125rem 0rem;
  width: 22.75rem;
  height: 53.0625rem;
  position: absolute;
  left: 2.25rem;
  top: 2.75rem;
}
.eventos {
  width: 39.625rem;
  height: 20rem;
  position: absolute;
  left: 4rem;
  top: 33.9375rem;
}
.rectangle-6 {
  background: #ffffff;
  border-radius: 1.25rem;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 0.25rem;
  width: 19.25rem;
  height: 21.9375rem;
  position: absolute;
  left: 0rem;
  top: -2rem;
}
.eventos2 {
  color: #5e5e5e;
  text-align: left;
  font: 700 1.5625rem "Georama-Bold", sans-serif;
  position: absolute;
  left: 2.5625rem;
  top: -0.625rem;
  width: 19rem;
  height: 5.4375rem;
}
.line-1 {
  border-style: solid;
  border-color: #000000;
  border-width: 0.0625rem 0 0 0;
  width: 17.8125rem;
  height: 0rem;
  position: absolute;
  left: 0.9375rem;
  top: 1.8125rem;
  transform-origin: 0 0;
  transform: rotate(-0.201deg) scale(1, 1);
}
.semana {
  width: 2.75rem;
  height: 2.75rem;
  position: absolute;
  left: 22.5rem;
  top: 12.9375rem;
}
.dias-iconos {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 3.9375rem;
  top: -1.125rem;
}
.ellipse-4 {
  background: rgba(96, 19, 252, 0.53);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: -25.375rem;
  top: -6.375rem;
}
.ellipse-5 {
  background: rgba(99, 23, 251, 0.69);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: -19.375rem;
  top: -6.375rem;
}
.ellipse-6 {
  background: rgba(100, 24, 251, 0.81);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: -13.375rem;
  top: -6.375rem;
}
.ellipse-7 {
  background: rgba(102, 27, 250, 0.88);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: -25.375rem;
  top: 1.625rem;
}
.ellipse-8 {
  background: #661afa;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: -19.375rem;
  top: 1.625rem;
}
.ellipse-9 {
  background: #5700ff;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: -13.375rem;
  top: 1.625rem;
}
.numero {
  width: 2.75rem;
  height: 2.75rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
._3 {
  color: #ffffff;
  text-align: left;
  font: 700 1.875rem "Georama-Bold", sans-serif;
  position: absolute;
  left: -19.625rem;
  top: -6.4375rem;
  width: 2.75rem;
  height: 2.75rem;
}
._4 {
  color: #ffffff;
  text-align: left;
  font: 700 1.875rem "Georama-Bold", sans-serif;
  position: absolute;
  left: -13.5625rem;
  top: -6.4375rem;
  width: 2.75rem;
  height: 2.75rem;
}
._5 {
  color: #ffffff;
  text-align: left;
  font: 700 1.875rem "Georama-Bold", sans-serif;
  position: absolute;
  left: -7.5rem;
  top: -6.4375rem;
  width: 2.75rem;
  height: 2.75rem;
}
._8 {
  color: #ffffff;
  text-align: left;
  font: 700 1.875rem "Georama-Bold", sans-serif;
  position: absolute;
  left: -7.5rem;
  top: 1.625rem;
  width: 2.75rem;
  height: 2.75rem;
}
._7 {
  color: #ffffff;
  text-align: left;
  font: 700 1.875rem "Georama-Bold", sans-serif;
  position: absolute;
  left: -13.5625rem;
  top: 1.625rem;
  width: 2.75rem;
  height: 2.75rem;
}
._6 {
  color: #ffffff;
  text-align: left;
  font: 700 1.875rem "Georama-Bold", sans-serif;
  position: absolute;
  left: -19.625rem;
  top: 1.625rem;
  width: 2.75rem;
  height: 2.75rem;
}
.dias-nombres {
  width: 5.625rem;
  height: 2.75rem;
  position: absolute;
  left: -6.25rem;
  top: -3.875rem;
}
.lu {
  color: #5e5e5e;
  text-align: left;
  font: 700 1.875rem "Georama-Bold", sans-serif;
  position: absolute;
  left: -13.875rem;
  top: -6rem;
  width: 2.75rem;
  height: 2.75rem;
}
.ma {
  color: #5e5e5e;
  text-align: left;
  font: 700 1.875rem "Georama-Bold", sans-serif;
  position: absolute;
  left: -7.625rem;
  top: -6rem;
  width: 3rem;
  height: 2.75rem;
}
.ju {
  color: #5e5e5e;
  text-align: left;
  font: 700 1.875rem "Georama-Bold", sans-serif;
  position: absolute;
  left: -13.875rem;
  top: 2.0625rem;
  width: 2.75rem;
  height: 2.75rem;
}
.mi {
  color: #5e5e5e;
  text-align: left;
  font: 700 1.875rem "Georama-Bold", sans-serif;
  position: absolute;
  left: -1.9375rem;
  top: -6rem;
  width: 2.5625rem;
  height: 2.75rem;
}
.vi {
  color: #5e5e5e;
  text-align: left;
  font: 700 1.875rem "Georama-Bold", sans-serif;
  position: absolute;
  left: -7.625rem;
  top: 2.0625rem;
  width: 2.75rem;
  height: 2.75rem;
}
.sa {
  color: #5e5e5e;
  text-align: left;
  font: 700 1.875rem "Georama-Bold", sans-serif;
  position: absolute;
  left: -1.75rem;
  top: 2.0625rem;
  width: 2.75rem;
  height: 2.75rem;
}
.notificacion {
  background: #ea3131;
  border-radius: 50%;
  border-style: solid;
  border-color: #d43e3e;
  border-width: 0.25rem;
  width: 1.875rem;
  height: 1.875rem;
  position: absolute;
  left: 4.1875rem;
  top: 13.375rem;
}
.boton-calendario {
  width: 39.75rem;
  height: 1.5rem;
  position: absolute;
  left: -15.875rem;
  top: 28.5625rem;
}
.rectangle-2 {
  background: #9a4aff;
  border-radius: 0.625rem;
  border-style: solid;
  border-color: #868686;
  border-width: 0rem 0rem 0.25rem 0rem;
  width: 19.1875rem;
  height: 6.75rem;
  position: absolute;
  left: 19.625rem;
  top: -6.75rem;
}
.usuario {
  color: #ffffff;
  text-align: left;
  font: 700 1.5625rem "Georama-Bold", sans-serif;
  position: absolute;
  left: 22.1875rem;
  top: -4.3125rem;
  width: 13.25rem;
  height: 4.3125rem;
}
.boton-calendario2 {
  width: 39.75rem;
  height: 1.5rem;
  position: absolute;
  left: -16.25rem;
  top: 19.5625rem;
}
.rectangle-22 {
  background: #9a4aff;
  border-radius: 0.625rem;
  border-style: solid;
  border-color: #868686;
  border-width: 0rem 0rem 0.25rem 0rem;
  width: 19.1875rem;
  height: 6.75rem;
  position: absolute;
  left: 19.875rem;
  top: -6.1875rem;
}
.calendario {
  color: #ffffff;
  text-align: left;
  font: 700 1.5625rem "Georama-Bold", sans-serif;
  position: absolute;
  left: 22.1875rem;
  top: -4.3125rem;
  width: 13.25rem;
  height: 4.3125rem;
}
.calendario-1 {
  width: 10.25rem;
  height: 8.25rem;
  position: absolute;
  left: 13.5625rem;
  top: 13.3125rem;
  overflow: visible;
}
.boton-actividades {
  width: 15rem;
  height: 4.3125rem;
  position: absolute;
  left: 5.8125rem;
  top: 7rem;
}
.rectangle-23 {
  background: #7b3aff;
  border-radius: 0.625rem;
  border-style: solid;
  border-color: #868686;
  border-width: 0rem 0rem 0.25rem 0rem;
  width: 19.1875rem;
  height: 6.75rem;
  position: absolute;
  left: -2.3125rem;
  top: -2.4375rem;
}
.actividades {
  color: #ffffff;
  text-align: left;
  font: 700 1.5625rem "Georama-Bold", sans-serif;
  position: absolute;
  left: 0rem;
  top: 0rem;
  width: 15rem;
  height: 4.3125rem;
}
.pelotas-imagen {
  width: 8.8125rem;
  height: 8.625rem;
  position: absolute;
  left: 7.5rem;
  top: -3.75rem;
  overflow: hidden;
}
.vector29 {
  height: auto;
  position: absolute;
  right: 28.52%;
  left: 28.66%;
  width: 42.82%;
  bottom: 29.33%;
  top: 29.1%;
  height: 41.56%;
  overflow: visible;
}
.vector30 {
  height: auto;
  position: absolute;
  right: 35.98%;
  left: 53.76%;
  width: 10.26%;
  bottom: 61.65%;
  top: 31.7%;
  height: 6.64%;
  overflow: visible;
}
.vector31 {
  height: auto;
  position: absolute;
  right: 53.47%;
  left: 35.74%;
  width: 10.79%;
  bottom: 60.95%;
  top: 31.39%;
  height: 7.66%;
  overflow: visible;
}
.vector32 {
  height: auto;
  position: absolute;
  right: 31.54%;
  left: 60.09%;
  width: 8.37%;
  bottom: 36.37%;
  top: 51.93%;
  height: 11.7%;
  overflow: visible;
}
.vector33 {
  height: auto;
  position: absolute;
  right: 50.74%;
  left: 38.33%;
  width: 10.93%;
  bottom: 35.44%;
  top: 51.8%;
  height: 12.76%;
  overflow: visible;
}
.vector34 {
  height: auto;
  position: absolute;
  right: 44.33%;
  left: 44.13%;
  width: 11.54%;
  bottom: 47.98%;
  top: 39.22%;
  height: 12.8%;
  overflow: visible;
}
.pelota-de-basket-y-futbool-juntas-1 {
  width: 8.3125rem;
  height: 8.125rem;
  position: absolute;
  left: 1.25rem;
  top: 1.0625rem;
  overflow: visible;
}
.cono-de-transito-1 {
  height: auto;
  position: absolute;
  right: 20.35%;
  left: 41.13%;
  width: 38.51%;
  bottom: 15.22%;
  top: 38.41%;
  height: 46.38%;
  overflow: visible;
}
.icono-de-usuario-1 {
  width: 10rem;
  height: 9.25rem;
  position: absolute;
  left: 13.625rem;
  top: 20.3125rem;
  overflow: visible;
}
=======
.i-phone-14-15-pro-max-3,
.i-phone-14-15-pro-max-3 * {
  box-sizing: border-box;
}
.i-phone-14-15-pro-max-3 {
  background: linear-gradient(
    180deg,
    rgba(87, 6, 254, 1) 0%,
    rgba(126, 59, 245, 1) 100%
  );
  width: 26.875rem;
  height: 58.25rem;
  position: relative;
  overflow: hidden;
}
.rectangle-4 {
  background: #ffffff;
  border-radius: 1.25rem;
  border-style: solid;
  border-color: #4400cf;
  border-width: 0rem 0rem 0.3125rem 0rem;
  width: 22.75rem;
  height: 53.0625rem;
  position: absolute;
  left: 2.25rem;
  top: 2.75rem;
}
.eventos {
  width: 39.625rem;
  height: 20rem;
  position: absolute;
  left: 4rem;
  top: 33.9375rem;
}
.rectangle-6 {
  background: #ffffff;
  border-radius: 1.25rem;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 0.25rem;
  width: 19.25rem;
  height: 21.9375rem;
  position: absolute;
  left: 0rem;
  top: -2rem;
}
.eventos2 {
  color: #5e5e5e;
  text-align: left;
  font: 700 1.5625rem "Georama-Bold", sans-serif;
  position: absolute;
  left: 2.5625rem;
  top: -0.625rem;
  width: 19rem;
  height: 5.4375rem;
}
.line-1 {
  border-style: solid;
  border-color: #000000;
  border-width: 0.0625rem 0 0 0;
  width: 17.8125rem;
  height: 0rem;
  position: absolute;
  left: 0.9375rem;
  top: 1.8125rem;
  transform-origin: 0 0;
  transform: rotate(-0.201deg) scale(1, 1);
}
.semana {
  width: 2.75rem;
  height: 2.75rem;
  position: absolute;
  left: 22.5rem;
  top: 12.9375rem;
}
.dias-iconos {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 3.9375rem;
  top: -1.125rem;
}
.ellipse-4 {
  background: rgba(96, 19, 252, 0.53);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: -25.375rem;
  top: -6.375rem;
}
.ellipse-5 {
  background: rgba(99, 23, 251, 0.69);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: -19.375rem;
  top: -6.375rem;
}
.ellipse-6 {
  background: rgba(100, 24, 251, 0.81);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: -13.375rem;
  top: -6.375rem;
}
.ellipse-7 {
  background: rgba(102, 27, 250, 0.88);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: -25.375rem;
  top: 1.625rem;
}
.ellipse-8 {
  background: #661afa;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: -19.375rem;
  top: 1.625rem;
}
.ellipse-9 {
  background: #5700ff;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: -13.375rem;
  top: 1.625rem;
}
.numero {
  width: 2.75rem;
  height: 2.75rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
._3 {
  color: #ffffff;
  text-align: left;
  font: 700 1.875rem "Georama-Bold", sans-serif;
  position: absolute;
  left: -19.625rem;
  top: -6.4375rem;
  width: 2.75rem;
  height: 2.75rem;
}
._4 {
  color: #ffffff;
  text-align: left;
  font: 700 1.875rem "Georama-Bold", sans-serif;
  position: absolute;
  left: -13.5625rem;
  top: -6.4375rem;
  width: 2.75rem;
  height: 2.75rem;
}
._5 {
  color: #ffffff;
  text-align: left;
  font: 700 1.875rem "Georama-Bold", sans-serif;
  position: absolute;
  left: -7.5rem;
  top: -6.4375rem;
  width: 2.75rem;
  height: 2.75rem;
}
._8 {
  color: #ffffff;
  text-align: left;
  font: 700 1.875rem "Georama-Bold", sans-serif;
  position: absolute;
  left: -7.5rem;
  top: 1.625rem;
  width: 2.75rem;
  height: 2.75rem;
}
._7 {
  color: #ffffff;
  text-align: left;
  font: 700 1.875rem "Georama-Bold", sans-serif;
  position: absolute;
  left: -13.5625rem;
  top: 1.625rem;
  width: 2.75rem;
  height: 2.75rem;
}
._6 {
  color: #ffffff;
  text-align: left;
  font: 700 1.875rem "Georama-Bold", sans-serif;
  position: absolute;
  left: -19.625rem;
  top: 1.625rem;
  width: 2.75rem;
  height: 2.75rem;
}
.dias-nombres {
  width: 5.625rem;
  height: 2.75rem;
  position: absolute;
  left: -6.25rem;
  top: -3.875rem;
}
.lu {
  color: #5e5e5e;
  text-align: left;
  font: 700 1.875rem "Georama-Bold", sans-serif;
  position: absolute;
  left: -13.875rem;
  top: -6rem;
  width: 2.75rem;
  height: 2.75rem;
}
.ma {
  color: #5e5e5e;
  text-align: left;
  font: 700 1.875rem "Georama-Bold", sans-serif;
  position: absolute;
  left: -7.625rem;
  top: -6rem;
  width: 3rem;
  height: 2.75rem;
}
.ju {
  color: #5e5e5e;
  text-align: left;
  font: 700 1.875rem "Georama-Bold", sans-serif;
  position: absolute;
  left: -13.875rem;
  top: 2.0625rem;
  width: 2.75rem;
  height: 2.75rem;
}
.mi {
  color: #5e5e5e;
  text-align: left;
  font: 700 1.875rem "Georama-Bold", sans-serif;
  position: absolute;
  left: -1.9375rem;
  top: -6rem;
  width: 2.5625rem;
  height: 2.75rem;
}
.vi {
  color: #5e5e5e;
  text-align: left;
  font: 700 1.875rem "Georama-Bold", sans-serif;
  position: absolute;
  left: -7.625rem;
  top: 2.0625rem;
  width: 2.75rem;
  height: 2.75rem;
}
.sa {
  color: #5e5e5e;
  text-align: left;
  font: 700 1.875rem "Georama-Bold", sans-serif;
  position: absolute;
  left: -1.75rem;
  top: 2.0625rem;
  width: 2.75rem;
  height: 2.75rem;
}
.notificacion {
  background: #ea3131;
  border-radius: 50%;
  border-style: solid;
  border-color: #d43e3e;
  border-width: 0.25rem;
  width: 1.875rem;
  height: 1.875rem;
  position: absolute;
  left: 4.1875rem;
  top: 13.375rem;
}
.boton-calendario {
  width: 39.75rem;
  height: 1.5rem;
  position: absolute;
  left: -15.875rem;
  top: 28.5625rem;
}
.rectangle-2 {
  background: #9a4aff;
  border-radius: 0.625rem;
  border-style: solid;
  border-color: #868686;
  border-width: 0rem 0rem 0.25rem 0rem;
  width: 19.1875rem;
  height: 6.75rem;
  position: absolute;
  left: 19.625rem;
  top: -6.75rem;
}
.usuario {
  color: #ffffff;
  text-align: left;
  font: 700 1.5625rem "Georama-Bold", sans-serif;
  position: absolute;
  left: 22.1875rem;
  top: -4.3125rem;
  width: 13.25rem;
  height: 4.3125rem;
}
.boton-calendario2 {
  width: 39.75rem;
  height: 1.5rem;
  position: absolute;
  left: -16.25rem;
  top: 19.5625rem;
}
.rectangle-22 {
  background: #9a4aff;
  border-radius: 0.625rem;
  border-style: solid;
  border-color: #868686;
  border-width: 0rem 0rem 0.25rem 0rem;
  width: 19.1875rem;
  height: 6.75rem;
  position: absolute;
  left: 19.875rem;
  top: -6.1875rem;
}
.calendario {
  color: #ffffff;
  text-align: left;
  font: 700 1.5625rem "Georama-Bold", sans-serif;
  position: absolute;
  left: 22.1875rem;
  top: -4.3125rem;
  width: 13.25rem;
  height: 4.3125rem;
}
.calendario-1 {
  width: 10.25rem;
  height: 8.25rem;
  position: absolute;
  left: 13.5625rem;
  top: 13.3125rem;
  overflow: visible;
}
.boton-actividades {
  width: 15rem;
  height: 4.3125rem;
  position: absolute;
  left: 5.8125rem;
  top: 7rem;
}
.rectangle-23 {
  background: #7b3aff;
  border-radius: 0.625rem;
  border-style: solid;
  border-color: #868686;
  border-width: 0rem 0rem 0.25rem 0rem;
  width: 19.1875rem;
  height: 6.75rem;
  position: absolute;
  left: -2.3125rem;
  top: -2.4375rem;
}
.actividades {
  color: #ffffff;
  text-align: left;
  font: 700 1.5625rem "Georama-Bold", sans-serif;
  position: absolute;
  left: 0rem;
  top: 0rem;
  width: 15rem;
  height: 4.3125rem;
}
.pelotas-imagen {
  width: 8.8125rem;
  height: 8.625rem;
  position: absolute;
  left: 7.5rem;
  top: -3.75rem;
  overflow: hidden;
}
.vector29 {
  height: auto;
  position: absolute;
  right: 28.52%;
  left: 28.66%;
  width: 42.82%;
  bottom: 29.33%;
  top: 29.1%;
  height: 41.56%;
  overflow: visible;
}
.vector30 {
  height: auto;
  position: absolute;
  right: 35.98%;
  left: 53.76%;
  width: 10.26%;
  bottom: 61.65%;
  top: 31.7%;
  height: 6.64%;
  overflow: visible;
}
.vector31 {
  height: auto;
  position: absolute;
  right: 53.47%;
  left: 35.74%;
  width: 10.79%;
  bottom: 60.95%;
  top: 31.39%;
  height: 7.66%;
  overflow: visible;
}
.vector32 {
  height: auto;
  position: absolute;
  right: 31.54%;
  left: 60.09%;
  width: 8.37%;
  bottom: 36.37%;
  top: 51.93%;
  height: 11.7%;
  overflow: visible;
}
.vector33 {
  height: auto;
  position: absolute;
  right: 50.74%;
  left: 38.33%;
  width: 10.93%;
  bottom: 35.44%;
  top: 51.8%;
  height: 12.76%;
  overflow: visible;
}
.vector34 {
  height: auto;
  position: absolute;
  right: 44.33%;
  left: 44.13%;
  width: 11.54%;
  bottom: 47.98%;
  top: 39.22%;
  height: 12.8%;
  overflow: visible;
}
.pelota-de-basket-y-futbool-juntas-1 {
  width: 8.3125rem;
  height: 8.125rem;
  position: absolute;
  left: 1.25rem;
  top: 1.0625rem;
  overflow: visible;
}
.cono-de-transito-1 {
  height: auto;
  position: absolute;
  right: 20.35%;
  left: 41.13%;
  width: 38.51%;
  bottom: 15.22%;
  top: 38.41%;
  height: 46.38%;
  overflow: visible;
}
.icono-de-usuario-1 {
  width: 10rem;
  height: 9.25rem;
  position: absolute;
  left: 13.625rem;
  top: 20.3125rem;
  overflow: visible;
}
>>>>>>> dc4109ee4b0a307b7732b3a1943c49d9b4895be2
